@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }
}


.dialog {
  /**
   * This is the max-width value of the Bootstrap giant modal
   * Using it here ensures the modal will properly adjust it's width to the content
   */
  max-width: 400px;
}

.briefcase {
  /**
   * This is the max-width value of the Bootstrap giant modal
   * Using it here ensures the modal will properly adjust it's width to the content
   */
  max-width: 900px;
}